* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.header {
  min-height: 100vh;
  width: 222vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.575), rgba(0, 0, 0, 0.575)),
    url(images/dark-1845065_1920.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 100px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: darkgoldenrod;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.text-box {
  width: 90%;
  color: darksalmon;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 62px;
}
.text-box p {
  margin: 10px 0 10px;
  font-size: 14px;
  color: antiquewhite;
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: lpx solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover {
  border: lpx solid #f44336;
  background: #f44336;
  transition: ls;
}

@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }
  .nav-links ul li {
    display: inline-block;
  }
  .nav-links {
    position: absolute;
    background: cadetblue;
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 2;
  }
}

/*----- HOBBIES -----*/

.hobbies {
  width: 85%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.hobbies h1 {
  font-size: 62px;
  color: maroon;
}
.hobbies-col {
  width: 33.3%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row {
  display: flex;
  padding-bottom: 30px;
}
.hobbies-col {
  width: 33.3%;
  padding: 5px;
}
.hobbies {
  min-height: 100vh;
  width: 222vh;
  background-image: linear-gradient(
      rgba(235, 217, 57, 0.822),
      rgba(235, 217, 57, 0.822)
    ),
    url(images/yellow-1845394_1920.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.page3 {
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.938);
  text-align: center;
}
.page3 H1 {
  width: 100%;
  color: darksalmon;
  z-index: 2;
}
.box {
  background-color: rgba(228, 25, 25, 0.404);
  color: rgba(255, 255, 255, 0.671);
  width: 50%;
  height: 10%;
  border-radius: 50%;
  margin-left: 25%;
  padding-top: 12%;
  padding-right: 6%;
  padding-left: 6%;
  padding-bottom: 12%;
  z-index: 1;
}
/* Make sure that padding behaves as expected */
* {
  box-sizing: border-box;
}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: rgb(255, 255, 255); /* Grey background */
}

.skills {
  padding-top: 5px; /* Add top padding */
  padding-bottom: 5px; /* Add bottom padding */
  color: rgb(240, 233, 233); /* White text color */
}

.html {
  width: 90%;
  background-color: #04aa6d;
} /* Green */
.css {
  width: 80%;
  background-color: #2196f3;
} /* Blue */
.js {
  width: 65%;
  background-color: #f44336;
} /* Red */
.py {
  width: 87%;
  background-color: #700045;
} /* Dark Grey */
